$primary: #eb2f64;
$light-primary: #ff3366;
$dark-primary: #ba265d;

$light-grey1: #faf9f9;
$light-grey2: #f4f2f2;
$light-grey3: #f0eeee;
$light-grey4: #ccc;

$dark-grey1: #333;
$dark-grey2: #777;
$dark-grey3: #999;
