$primary: #eb2f64;
$light-primary: #ff3366;
$dark-primary: #ba265d;

$light-grey-1: #faf9f9;
$light-grey-2: #f4f2f2;
$light-grey-3: #f0eeee;
$light-grey-4: #ccc;

$dark-grey-1: #333;
$dark-grey-2: #777;
$dark-grey-3: #999;
